/* Overall properties */
html
{
    height: 100%;
}
body
{
    height: 100%;
    margin: 0;
    padding: 0;
}

#map_canvas
{
    height: 100%:
    width: 100%;
    z-index: 1;
}


#nyancat
{
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 50%;
    bottom: 50%;
    right: 50%;

}

#top_bar
{
    height: 35px;
}


#sidebar
{
    height: 100%;
    align: right;
    width: 50 px;
}