<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

    <link href="../static/js/jquery/jquery-ui-1.8.18.custom.css" type="text/css" rel="stylesheet"/>
    <script src="../static/js/jquery/jquery-1.7.1.min.js"></script>
    <script src="../static/js/jquery/jquery-ui-1.8.18.custom.min.js"></script>

    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDVlmhMFLkex9hygFh8POvX7JwUAvdyX9s&sensor=true"></script>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=true"></script>


    <link href="../static/nyanmap.css" type="text/css" rel="stylesheet" />
    <script src="../static/js/api.js"></script>
    <script src="../static/js/nyanmap.js"></script>

    <link href="/static/css/news_nyan.css" type="text/css" rel="stylesheet"/>
    <script src="/static/js/news_nyan.js"></script>

    <script src="/static/js/load_sidebar.js"></script>
    
  </head>

  <body onload="initialize(40.728429,-73.995605)">
   <div id="top_bar">
     <img id="hacknyancat" src="../static/hacknyancat_logo.png" width="102" height="35"/>
   </div>


   <div id="map_and_sidebar_div">

   <div id="nyancat">
      <img src="../static/nyancat.gif" alt="nyancat" width="100" height="70" />
    </div>

    <div id="map_canvas">
      <!-- <div id="nyancat"><img src="nyancat.gif" alt="nyancat" /></div> -->
    </div>

    <div id="sidebar">
      <div id="foursquare-sidebar">
        <a href="https://foursquare.com/oauth2/authenticate?client_id=IGHYIIQIRRVUGIMJ05XGMGXIGH25WVZ5CLFM53C5BXXQXHTN&response_type=code&{{ FS_REDIRECT_URI }}">
          <button>Foursquare</button>
        </a>
      </div>

      <div id="etsy-sidebar">
      </div>

      <div id="dc-sidebar">
      </div>

      <div id="longtail-sidebar">
      </div>
    </div>

   </div>

  </body>
 
</html>
